{% extends 'layout.html' %}

{% block body %}

<p>YOO</p>
<img id="front" src="{{ url_for('video_feed') }}" alt="None" width="480" height="320">
<div>
    <form action="{{ url_for('captureframe') }}" method="post">
        <input type="text" name="Name" placeholder="Name">
        <input type="submit" value="Click">
    </form>
</div>
<p>{{ name }}</p>




<!--
<script>
    var video = document.querySelector("#videoElement");
    var name = document.getElementById("inputName");

    init()
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
            video.srcObject = stream;
            })
            .catch(function (err0r) {
            console.log("Something went wrong!");
            });
    }

    var canvas, ctx;

    function init() {
        canvas = document.querySelector("#myCanvas");
        ctx = canvas.getContext('2d');
    }

    function snapshot() {
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        var img = canvas.toDataURL("image/png");
        console.log(img)
    }
</script>
-->

{% endblock %}