{% extends 'layout.html' %}

{% block body %}
<style>
    .videos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    
    .videos div {
        padding: 5% 0%;
    }

    .form-container  form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        text-align: center;
        justify-items: center;
    }
    .form-container form #submit {
        grid-column: 2/3;
    }

    .lidar-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
    }

</style>

<div class="lidar-container">
    <img src="{{ url_for('lidar_feed') }}" alt="None">
    <form action="{{ url_for('lidar_save' )}}" method="post">
        <input type="text" name="Lidar" placeholder="Lidar result file name">
        <input id="submit" type="submit" value="Save result">
    </form>
</div>

{% endblock %}